:root{
    --mianColor:#15202b;
    --secondaryColor: #192734;
   
    --borderColor: #163d56; 
    --mainText: #fff ;
    --secondaryText: #eeeeee;
    
    --themeDotBorder: #fff;
    --previewBg: rgb(25,39,52,0.8);
    --previewShadow: #111921;

    --btnCol: #17a2b8;
    --skillName: #2c7f8b;
}
