@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

:root{
    --mianColor:#eaeaeaea;
    --secondaryColor: #fff;
   
    --borderColor: #c1c1c1; 
    --mainText: black ;
    --secondaryText: #4b5156;
    
    --themeDotBorder: #24292e;
    --previewBg: rgb(251,249,243,0.8);
    --previewShadow: #f0ead6;

    --btnCol:black;
    --skillName: black;
    --naviAcolor: rgb(24, 142, 158);
}

html,body{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body *{
    transition: 0.3s;
}


h1,h2,h3,h4,h5,h6, strong{
    color: var(--mainText);
    font-family: 'Montserrat',sans-serif;
}

p,li,span,label,input,textarea{
color: var(--secondaryText);
font-family: 'Roboto', sans-serif;
}

.s1{
    background-color: var(--mianColor) ;
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.s2{
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--secondaryText);
    overflow: auto;
}

h1{font-size: 56px};
h2{font-size: 36px};
h3{font-size: 28px};
h4{font-size: 24px};
h5{font-size: 20px};
h6{font-size: 16px};


a{
    text-decoration: none;
    color: #17a2b8;
}

.post a{
    text-decoration: none;
    color: #17a2b8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
    list-style: none;
}


.main-container{
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper{
    display: grid;
    text-align: center;
    align-content: center;
    
    min-height: 10em;
}

.intro-wrapper{
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius: 7px;


    -webkit-box-shadow: 11px 12px 39px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 12px 39px -3px rgba(0,0,0,0.75);
box-shadow: 11px 12px 39px -3px rgba(0,0,0,0.75);

display: grid;
grid-template-columns: 1fr 1fr;

grid-template-areas: 
'nav-wrapper nav-wrapper'
'left-column right-column'
;

}

.nav-wrapper{
    grid-area: nav-wrapper ;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mianColor);
    border-radius: 7px;
}

#navigation{
    margin: 0;
    padding: 10px;
}

#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

#navigation li a{
    text-decoration: none;
    color: var(--naviAcolor);
}


.dots-wrapper{
    display: flex;
}

#dot-1{
    background-color: #eb5534;
}

#dot-2{
    background-color: #dce625;
}

#dot-3{
    background-color: #82e625;
}


.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;


    -webkit-box-shadow: 10px 10px 30px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 30px -6px rgba(0,0,0,0.75);
box-shadow: 10px 10px 30px -6px rgba(0,0,0,0.75);

}



.left-column{
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.theme-dot:hover{
    border-width: 5px;
}

/*MODES*/
#light-mode{
    background-color: #fff;
}
#blue-mode{
    background-color: #32a2a8;
}
#green-mode{
    background-color: #46c435;
}
#orange-mode{
    background-color: #eb8423;
}

#settings-note{
    font-size: 16px;
    font-style: italic;
    text-align: center;

}


.right-column{
    grid-area: right-column ;
    display: grid;
    align-content: center;

    padding-top: 50px;
    padding-bottom: 50px;
}

#profile_pic{
    display: block;
    margin: 0 auto;
   
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
}

.theme-options-wrapper{
    display: flex;
    justify-content: center;
}

.theme-dot{
    height: 30px;
    width: 30px;
    border-radius: 50% ;
    background-color: black;
    
    margin: 5px;
    border:2px solid var(--themeDotBorder);



    -webkit-box-shadow: 10px 10px 30px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 30px -6px rgba(0,0,0,0.75);
box-shadow: 10px 10px 30px -6px rgba(0,0,0,0.75);

    cursor: pointer;
}

#preview-shadow{
    background-color: var(--previewShadow);
    width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;
    border-radius: 20px 4px 20px;
}


#preview{
    width: 300px;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBg);
    padding: 15px;
    position: relative;
}

.corner{
    width: 7px;
    height:7px;
    border-radius: 50%;
    border: 1.5px solid #17a2b8;
    background-color: #fff;
    position: absolute;
}

#corner-tl{
    top: -5px;
    left: -5px;
}

#corner-tr{
    top: -5px;
    right: -5px;
}

#corner-bl{
    bottom: -5px;
    left: -5px;
}

#corner-br{
    bottom: -5px;
    right: -5px;
}

.about-wrapper{
    display: grid;
    grid-template-columns: repeat( auto-fit,minmax(320px,1fr));
    grid-template-columns: repeat(2,1fr);
    gap:10px
}




#skills{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 12px
}

#skills li{
    margin: 10px;
    font-weight: bold;
}

.social-links{
    display: grid;
    align-content: center;
    text-align: center;
}


#social_img{
    width: 100%;
    margin: 20px;
}

.post-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,320px);
    gap:20px;
    justify-content: center;
    padding-bottom: 50px;
}

.post{
    border: 1px solid var(--borderColor);

    -webkit-box-shadow: 11px 12px 39px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 12px 39px -3px rgba(0,0,0,0.75);
    box-shadow: 11px 12px 39px -3px rgba(0,0,0,0.75);
}

.thumbnail{
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.post-preview{
    background-color: #fff;
    padding: 15px;
}

.post-title{
    color: black;
    font-size: 17px;
    margin:0;
}

.post-intro{
    color: #4b5156;
    font-size: 16px;
}

#contact-form{
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mianColor);
    margin-bottom: 50px;
}

#contact-form label{
    line-height: 2.7em;
}

.input-field{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    font-size: 15px;
}

#submit-btn{
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--btnCol);
    border:none;
    color:#fff;
}

#submit-btn:hover{
    cursor: pointer;
    opacity: 0.8;
}

@media screen and (max-width: 1200px){
    .main-container{
       width: 95%;
    }
}

@media screen and (max-width: 800px){
    .intro-wrapper{
        
    grid-template-columns: 1fr;
    
    grid-template-areas: 
    'nav-wrapper'
    'left-column'
    'right-column'
    ;
    
    }

    .right-column{
        justify-content: center;
    }


}

/*Progress Bar*!!!!!!!!!!!!!*/
.skills{
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.skill-name{
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0;
  color: var(--skillName)
}

.skill-bar{
  height: 20px;
  background: #cacaca;
  border-radius: 8px;
}

.skill-per{
  height: 20px;
  background-color: #0ff922;
  border-radius: 8px;
  width: 0;
  transition: 8s linear;
  position: relative;
}

.skill-per::before{
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  top: -16px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}